<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="research and hobbies of a computer engineer">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/main.css">
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    <title></title>
    <link rel="canonical" href="alexshroyer.com/2021-10-11-Artificial-Neural-Networks.html">
  </head>
  <body>
    <header>
      <nav>
        <a href="/index.html">Home</a>
        <a href="/pages/cv.html">CV</a>
        <a href="/pages/projects.html">Projects</a>
        <a href="/rss.xml">RSS</a>
      </nav>
    </header>
    <main>
      <article><h1 class="title">Artificial Neural Networks</h1><div class="abstract" id="org8813199">
<p>
Artifical Neural Networks (ANNs) are a key part of machine learning.
We can see how they work by building a toy example.
</p>

<p>
This post shows two variations of ANNs, in two languages.
First in <a href="https://www.python.org/">Python</a> (with the NumPy library) and then in <a href="https://www.jsoftware.com">J</a>.
These implementations are based on the code in <a href="https://github.com/ghosthamlet/ann.apl/blob/master/ann.ijs">this post</a>.
</p>

<p>
Both of these languages are high-level, highly dynamic languages.
Python's strengths include its extensive set of libraries, and the ease of extending the language both in terms of syntax and by binding to compiled C code.
J's major strengths include its fundamental array-oriented paradigm, and the ease of composing its large set of primitive operations.
</p>

</div>
<div id="outline-container-orgab30582" class="outline-2">
<h2 id="orgab30582">one-layer</h2>
<div class="outline-text-2" id="text-orgab30582">
<p>
One-layer networks can estimate linearly separable functions.
However, they can not predict nonlinear functions.
</p>

<p>
Linear functions include most of the 2-input boolean functions:
</p>

<table>


<colgroup>
<col  class="org-left">

<col  class="org-right">

<col  class="org-right">

<col  class="org-right">
</colgroup>
<thead>
<tr>
<th scope="col" class="org-left">input</th>
<th scope="col" class="org-right">and</th>
<th scope="col" class="org-right">or</th>
<th scope="col" class="org-right">x &rarr; y</th>
</tr>
</thead>
<tbody>
<tr>
<td class="org-left">0 0</td>
<td class="org-right">0</td>
<td class="org-right">0</td>
<td class="org-right">1</td>
</tr>

<tr>
<td class="org-left">0 1</td>
<td class="org-right">0</td>
<td class="org-right">1</td>
<td class="org-right">0</td>
</tr>

<tr>
<td class="org-left">1 0</td>
<td class="org-right">0</td>
<td class="org-right">1</td>
<td class="org-right">1</td>
</tr>

<tr>
<td class="org-left">1 1</td>
<td class="org-right">1</td>
<td class="org-right">1</td>
<td class="org-right">1</td>
</tr>
</tbody>
</table>

<div class="org-src-container">
<pre class="src src-python"><span style="font-weight: bold;">import</span> numpy <span style="font-weight: bold;">as</span> np
<span style="font-weight: bold; font-style: italic;">X</span> = np.array([[0,0,1], [0,1,1], [1,0,1], [1,1,1]])
<span style="font-weight: bold; font-style: italic;">y</span> = np.array([[0,1,1,1]]).T
np.random.seed(1)
<span style="font-weight: bold; font-style: italic;">w0</span> = 2*np.random.random((3,1)) - 1
<span style="font-weight: bold;">for</span> i <span style="font-weight: bold;">in</span> <span style="font-weight: bold;">range</span>(10000):
    <span style="font-weight: bold; font-style: italic;">l1</span> = 1/(1+np.exp(-(X @ w0)))
    <span style="font-weight: bold; font-style: italic;">l1_err</span> = y - l1
    <span style="font-weight: bold; font-style: italic;">l1_del</span> = l1_err * l1 * (1 - l1)
    <span style="font-weight: bold; font-style: italic;">w0</span> += X.T @ l1_del
<span style="font-weight: bold;">print</span>(l1)
</pre>
</div>

<pre class="example">
[[0.01627589]
 [0.98974255]
 [0.98974254]
 [0.99999822]]
</pre>


<div class="org-src-container">
<pre class="src src-j">input =: 4 3 $ 0 0 1  0 1 1  1 0 1  1 1 1
target =: 4 1 $ 0 1 1 1
dot =: +/ .*
sig =: {{ %1+^-y }}
train =: {{
    l1 =. sig input dot y
    l1_err =. target - l1
    l1_del =. l1_err * l1 * 1 - l1
    y + (|:input) dot l1_del }}
5j3": sig input dot train^:10000 &lt;:+:?.3 1$0
</pre>
</div>
</div>
</div>

<div id="outline-container-org2d3cc90" class="outline-2">
<h2 id="org2d3cc90">two-layer</h2>
<div class="outline-text-2" id="text-org2d3cc90">
<p>
Two-layer networks are more versatile, and can estimate nonlinear functions.
The classic example of this is the boolean XOR function:
</p>

<table>


<colgroup>
<col  class="org-left">

<col  class="org-right">
</colgroup>
<thead>
<tr>
<th scope="col" class="org-left">input</th>
<th scope="col" class="org-right">xor</th>
</tr>
</thead>
<tbody>
<tr>
<td class="org-left">0 0</td>
<td class="org-right">0</td>
</tr>

<tr>
<td class="org-left">0 1</td>
<td class="org-right">1</td>
</tr>

<tr>
<td class="org-left">1 0</td>
<td class="org-right">1</td>
</tr>

<tr>
<td class="org-left">1 1</td>
<td class="org-right">0</td>
</tr>
</tbody>
</table>

<p>
A single neuron can't estimate this function, no matter how hard it tries.
However, 2 neurons in sequence handle it just fine.
</p>
<div class="org-src-container">
<pre class="src src-python"><span style="font-weight: bold;">import</span> numpy <span style="font-weight: bold;">as</span> np
<span style="font-weight: bold; font-style: italic;">X</span> = np.array([[0,0,1], [0,1,1], [1,0,1], [1,1,1]])
<span style="font-weight: bold; font-style: italic;">y</span> = np.array([[0,1,1,0]]).T
np.random.seed(1)
<span style="font-weight: bold; font-style: italic;">w0</span> = 2*np.random.random((3,4)) - 1
<span style="font-weight: bold; font-style: italic;">w1</span> = 2*np.random.random((4,1)) - 1
<span style="font-weight: bold;">for</span> j <span style="font-weight: bold;">in</span> <span style="font-weight: bold;">range</span>(10000):
    <span style="font-weight: bold; font-style: italic;">l1</span> = 1/(1+np.exp(-(X @ w0)))
    <span style="font-weight: bold; font-style: italic;">l2</span> = 1/(1+np.exp(-(l1 @ w1)))
    <span style="font-weight: bold; font-style: italic;">l2_error</span> = y - l2
    <span style="font-weight: bold; font-style: italic;">l2_delta</span> = l2_error * l2 * (1 - l2)
    <span style="font-weight: bold; font-style: italic;">l1_error</span> = l2_delta @ w1.T
    <span style="font-weight: bold; font-style: italic;">l1_delta</span> = l1_error * l1 * (1 - l1)
    <span style="font-weight: bold; font-style: italic;">w0</span> += X.T @ l1_delta
    <span style="font-weight: bold; font-style: italic;">w1</span> += l1.T @ l2_delta
<span style="font-weight: bold;">print</span>(np.<span style="font-weight: bold;">round</span>(l2,3))
</pre>
</div>

<pre class="example">
[[0.007]
 [0.991]
 [0.992]
 [0.01 ]]
</pre>


<div class="org-src-container">
<pre class="src src-j">input =: 4 3 $ 0 0 1  0 1 1  1 0 1  1 1 1
target =: 4 1 $ 0 1 1 0
dot =: +/ .*
sig =: {{ %&gt;:^-y }}
train =: {{
    'ignore_me w0 w1' =. y
    l1 =. sig input dot w0
    l2 =. sig l1 dot w1
    l2_error =. target - l2
    l2_delta =. l2_error * l2 * 1 - l2
    l1_error =. l2_delta dot |: w1
    l1_delta =. l1_error * l1 * 1 - l1
    w0 =. w0 + (|:input) dot l1_delta
    w1 =. w1 + (|:l1) dot l2_delta
    l2;w0;w1 }}
5j3":0{::train^:10000 {{&lt;:+:?.y$0}} each 1 ; 3 4 ; 4 1
</pre>
</div>

<pre class="example">
0.009
0.990
0.990
0.011
</pre>
</div>
</div>
</article>
    </main>

    <footer>
      <div class="license-container">
        <div class="license-item">Designed in 2024 by <a href="https://alexshroyer.com">Alex Shroyer</a></div>
        <div class="license-item"><a href="https://www.gnu.org/licenses/gpl-3.0.html">GNU GPLv3</a> (code)</div>
        <div class="license-item"><a rel="license" href="http://creativecommons.org/licenses/by/4.0/">CC-BY-4.0</a> (prose)</div>
      </div>
      <div class="social">
        <a href="https://stackoverflow.com/users/2037637/alex-shroyer" aria-label="my StackOverflow profile">
          <svg role="img" aria-hidden="true" class="svg-icon iconLogoGlyphMd native" width="32" height="37" viewBox="0 0 32 37">
            <path d="M26 33v-9h4v13H0V24h4v9h22z"></path>
            <path d="m21.5 0-2.7 2 9.9 13.3 2.7-2L21.5 0zM26 18.4 13.3 7.8l2.1-2.5 12.7 10.6-2.1 2.5zM9.1 15.2l15 7 1.4-3-15-7-1.4 3zm14 10.79.68-2.95-16.1-3.35L7 23l16.1 2.99zM23 30H7v-3h16v3z"></path>
          </svg>
        </a>
        <a href="https://github.com/hoosieree" aria-label="my GitHub profile">
          <svg role="img" height="32" aria-hidden="true" viewBox="0 0 16 16" version="1.1" width="32" data-view-component="true" class="octicon octicon-mark-github v-align-middle">
            <path fill-rule="evenodd" d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0016 8c0-4.42-3.58-8-8-8z"></path>
          </svg>
        </a>
        <a href="https://www.linkedin.com/in/alex-shroyer" aria-label="my LinkedIn profile"><svg role="img" xmlns="http://www.w3.org/2000/svg" width="34" height="34" viewBox="0 0 34 34" class="global-nav__logo">
            <g>
              <path d="M34,2.5v29A2.5,2.5,0,0,1,31.5,34H2.5A2.5,2.5,0,0,1,0,31.5V2.5A2.5,2.5,0,0,1,2.5,0h29A2.5,2.5,0,0,1,34,2.5ZM10,13H5V29h5Zm.45-5.5A2.88,2.88,0,0,0,7.59,4.6H7.5a2.9,2.9,0,0,0,0,5.8h0a2.88,2.88,0,0,0,2.95-2.81ZM29,19.28c0-4.81-3.06-6.68-6.1-6.68a5.7,5.7,0,0,0-5.06,2.58H17.7V13H13V29h5V20.49a3.32,3.32,0,0,1,3-3.58h.19c1.59,0,2.77,1,2.77,3.52V29h5Z" > </path>
            </g>
          </svg>
        </a>
      </div>
    </footer>
    <script>
      window.MathJax={
  tex:{ams:{multlineWidth:'85%'},tags:'ams',tagSide:'right',tagIndent:'.8em'},
  chtml:{scale:1.0,displayAlign:'center',displayIndent:'0em'},
  svg:{scale:1.0,displayAlign:'center',displayIndent:'0em'},
  output:{font:'mathjax-modern',displayOverflow:'overflow'}}
    </script>
  </body>
</html>
