<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="research and hobbies of a computer engineer">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/main.css">
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    <title></title>
    <link rel="canonical" href="alexshroyer.com/2022-03-28-Machine-Learning-Idioms.html">
  </head>
  <body>
    <header>
      <nav>
        <a href="/index.html">Home</a>
        <a href="/pages/cv.html">CV</a>
        <a href="/pages/projects.html">Projects</a>
        <a href="/rss.xml">RSS</a>
      </nav>
    </header>
    <main>
      <article><h1 class="title">Machine Learning Idioms</h1><div class="abstract" id="org8710933">
<p>
A collection of short idiomatic code snippets which I've used in my Machine Learning tasks, written in J.
Hopefully I'll come back here to update this list once in a while.
</p>

</div>

<div id="outline-container-org4a4d8c1" class="outline-2">
<h2 id="org4a4d8c1">Why?</h2>
<div class="outline-text-2" id="text-org4a4d8c1">
<p>
Even though most of my machine learning work is done in Python and NumPy, I prefer prototyping some things in J.
The terser syntax and native support for multidimensional arrays make it more enjoyable for quick experiments than Python.
</p>
</div>
</div>

<div id="outline-container-org2bdaf71" class="outline-2">
<h2 id="org2bdaf71"><a href="https://en.wikipedia.org/wiki/Softmax_function">Softmax</a></h2>
<div class="outline-text-2" id="text-org2bdaf71">
<p>
Take the exponential (base \(e\)) of each value, divide by the sum of the exponential of each value.
The sum of the resulting array is 1.
</p>

<p>
This function is often used when trying to classify an example into one of several (&gt;2) classes, such as recognizing individual letters or numbers for optical character recognition.
</p>
<div class="org-src-container">
<pre class="src src-j">softmax_1 =: (%+/)@:^       NB. smallest version I can think of
softmax_2 =: (]%+/)@:^      NB. fork instead of hook
softmax_3 =: {{z%+/z=. ^y}} NB. with temp variables
</pre>
</div>

<p>
I usually prefer explicit code over tacit, and I usually prefer forks over hooks, but the first version is so short it's hard not to like it.
</p>
</div>
</div>

<div id="outline-container-org0591804" class="outline-2">
<h2 id="org0591804"><a href="https://en.wikipedia.org/wiki/Sigmoid_function">Logistic/Sigmoid function</a></h2>
<div class="outline-text-2" id="text-org0591804">
<p>
Converts a real value in the range [-inf,inf] to a real value in the range [0,1], with a smooth s-shaped curve.
</p>

<p>
This function is often used as an activation function for a binary or linear classifier.
</p>
<div class="org-src-container">
<pre class="src src-j">logistic_1 =: {{1%1+^-y}}   NB. direct translation
logistic_2 =: %@&gt;:@^@-      NB. tacit verbs only
</pre>
</div>
</div>
</div>
<div id="outline-container-org63c4ce7" class="outline-2">
<h2 id="org63c4ce7">Nonnegative Matrix Factorization</h2>
<div class="outline-text-2" id="text-org63c4ce7">
<div class="org-src-container">
<pre class="src src-j">e =: 1e_10 NB. epsilon
mm =: +/ . *  NB. matrix multiply
error_function =: {{
  'xx w h' =. y
  wh =. e + w mm h
  +/ xx -~ wh + xx * ^.xx % wh
}}

nmf =: {{ NB. x:iterations  y:data
    errs =. 0$0
    basis =. 30
    's0 s1' =. $y
    w =. ? 0 $~ s0,basis
    h =. ? 0 $~ basis,s1
    ft1 =. 1 $~ $y
    for_i. i.x do.
      wh =. e + w mm h
      w =. w * ((y % wh) mm |:h) % (e+(ft1 mm |:h))
      wh =. e + w mm h
      h =. h * ((|:w) mm y % wh) % (e + (|:w) mm ft1)
      errs =. errs,error_function y;w;h
    end.
    w;h;errs
}}

d =: (,|."1)0,~0,:i.20
'w h errors' =: 10 nmf d
</pre>
</div>
</div>
</div>
</article>
    </main>

    <footer>
      <div class="license-container">
        <div class="license-item">Designed in 2024 by <a href="https://alexshroyer.com">Alex Shroyer</a></div>
        <div class="license-item"><a href="https://www.gnu.org/licenses/gpl-3.0.html">GNU GPLv3</a> (code)</div>
        <div class="license-item"><a rel="license" href="http://creativecommons.org/licenses/by/4.0/">CC-BY-4.0</a> (prose)</div>
      </div>
      <div class="social">
        <a href="https://stackoverflow.com/users/2037637/alex-shroyer" aria-label="my StackOverflow profile">
          <svg role="img" aria-hidden="true" class="svg-icon iconLogoGlyphMd native" width="32" height="37" viewBox="0 0 32 37">
            <path d="M26 33v-9h4v13H0V24h4v9h22z"></path>
            <path d="m21.5 0-2.7 2 9.9 13.3 2.7-2L21.5 0zM26 18.4 13.3 7.8l2.1-2.5 12.7 10.6-2.1 2.5zM9.1 15.2l15 7 1.4-3-15-7-1.4 3zm14 10.79.68-2.95-16.1-3.35L7 23l16.1 2.99zM23 30H7v-3h16v3z"></path>
          </svg>
        </a>
        <a href="https://github.com/hoosieree" aria-label="my GitHub profile">
          <svg role="img" height="32" aria-hidden="true" viewBox="0 0 16 16" version="1.1" width="32" data-view-component="true" class="octicon octicon-mark-github v-align-middle">
            <path fill-rule="evenodd" d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0016 8c0-4.42-3.58-8-8-8z"></path>
          </svg>
        </a>
        <a href="https://www.linkedin.com/in/alex-shroyer" aria-label="my LinkedIn profile"><svg role="img" xmlns="http://www.w3.org/2000/svg" width="34" height="34" viewBox="0 0 34 34" class="global-nav__logo">
            <g>
              <path d="M34,2.5v29A2.5,2.5,0,0,1,31.5,34H2.5A2.5,2.5,0,0,1,0,31.5V2.5A2.5,2.5,0,0,1,2.5,0h29A2.5,2.5,0,0,1,34,2.5ZM10,13H5V29h5Zm.45-5.5A2.88,2.88,0,0,0,7.59,4.6H7.5a2.9,2.9,0,0,0,0,5.8h0a2.88,2.88,0,0,0,2.95-2.81ZM29,19.28c0-4.81-3.06-6.68-6.1-6.68a5.7,5.7,0,0,0-5.06,2.58H17.7V13H13V29h5V20.49a3.32,3.32,0,0,1,3-3.58h.19c1.59,0,2.77,1,2.77,3.52V29h5Z" > </path>
            </g>
          </svg>
        </a>
      </div>
    </footer>
    <script>
      window.MathJax={
  tex:{ams:{multlineWidth:'85%'},tags:'ams',tagSide:'right',tagIndent:'.8em'},
  chtml:{scale:1.0,displayAlign:'center',displayIndent:'0em'},
  svg:{scale:1.0,displayAlign:'center',displayIndent:'0em'},
  output:{font:'mathjax-modern',displayOverflow:'overflow'}}
    </script>
  </body>
</html>
